[defaults]
inventory = ansible/inventory/production.ini
roles_path = ansible/roles
stdout_callback = default
result_format = yaml
interpreter_python = auto_silent
retry_files_enabled = false
host_key_checking = true

[ssh_connection]
pipelining = true
