AIRGAPPED_MODE={{ tao_ftms_airgapped_mode | lower }}
DEPLOYMENT_MODE={{ tao_ftms_deployment_mode }}
USE_ADMIN_KEY=true
PTM_PULL={{ tao_ftms_ptm_pull | lower }}
PYTHON_VERSION=3.12
PYTHON_BASE_PATH=/opt/venv/cosmos_rl/lib/python
IMAGE_TAO_API={{ tao_ftms_image_tao_api }}
IMAGE_TAO_PYTORCH={{ tao_ftms_image_tao_pytorch }}
IMAGE_TAO_DEPLOY={{ tao_ftms_image_tao_deploy }}
IMAGE_TAO_DS={{ tao_ftms_image_tao_ds }}
IMAGE_COSMOS_RL={{ tao_ftms_image_cosmos_rl }}
NUM_GPU_PER_NODE={{ tao_ftms_num_gpu_per_node }}
MAX_GPU_PER_USER_REALTIME_INFER=1
CALLBACK_UUID={{ inventory_hostname }}-tao-ftms
HOSTBASEURL=http://tao_api_app:8000
NGINX_HTTP_PORT={{ tao_ftms_http_port }}
NGINX_HTTPS_PORT={{ tao_ftms_https_port }}
SEAWEEDFS_ENABLED={{ tao_ftms_seaweedfs_enabled | lower }}
SEAWEEDFS_REPLICATION=000
SEAWEEDFS_FILER_PORT={{ tao_ftms_seaweedfs_filer_port }}
SEAWEEDFS_S3_PORT={{ tao_ftms_seaweedfs_s3_port }}
SEAWEEDFS_VOLUME_PORT={{ tao_ftms_seaweedfs_volume_port }}
SEAWEEDFS_MASTER_PORT={{ tao_ftms_seaweedfs_master_port }}
LOCAL_MODEL_REGISTRY=/shared-storage/models
LOG_LEVEL={{ tao_ftms_log_level }}
